/*------------------------------ стили для промоблока ---------------------------------*/
.promoblock {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.promoblock_img {
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.promoblock_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.linear-gradient {
  position: absolute;
  z-index: 10;

  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 26.25%, #000000 55.38%);

  width: 100%;
  height: 100%;
}

.promoblock_arrow {
  display: none;
}

.promoblock_heading {
  position: relative;
  z-index: 20;
  top: 200px;
  left: 180px;

  font-family: "Inter";
  font-weight: 900;
  font-size: 70px;
  line-height: 97px;

  color: #ffffff;
}
/*------------------------------------------------------------------------------------*/

/*------------------------------ стили секции о нас ---------------------------------*/
.aboutUs {
  position: relative;
  background-color: #000;
  padding: 320px clamp(1rem, 10%, 15%);
  overflow: hidden;
}

.aboutUs_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 1;
}

.aboutUs_container {
  position: relative;
  z-index: 2;
  color: white;
}

.aboutUs_content {
  display: flex;
  flex-direction: column;
}

.aboutUs_heading {
  position: absolute;
  z-index: 2;

  top: 150px;
  left: 300px;
  margin-right: 25%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;

  color: #ffffff;
}

.aboutUs_text {
  position: absolute;
  z-index: 2;

  top: 300px;
  left: 300px;
  margin-right: 20%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;

  color: #ffffff;
}
/*------------------------------------------------------------------------------------*/

@media (min-width: 1580px) {
  .gallery {
    max-width: 3000px;
  }
}

@media (max-width: 1200px) {
  .promoblock_heading {
    top: 200px;
    left: 140px;

    font-size: 60px;
    line-height: 77px;

    color: #ffffff;
  }

  .promoblock_img {
    width: 150%;
    height: 520px;
    overflow: hidden;
  }

  .promoblock_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .aboutUs_heading {
    top: 150px;
    left: 50px;
    margin-right: 25%;
  }

  .aboutUs_text {
    position: absolute;
    z-index: 2;

    top: 300px;
    left: 50px;
    margin-right: 20%;
  }
}

@media (max-width: 900px) {
  .promoblock {
    height: 80vh;
    min-height: 615px;
    max-height: 815px;
    overflow: hidden;
  }

  .promoblock_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .promoblock_img img {
    object-fit: cover;
    object-position: center;
  }

  .linear-gradient {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 52.68%,
      rgba(0, 0, 0, 0) 67.11%,
      #000000 82.02%
    );
  }

  .promoblock_heading {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    width: 90%;
    margin: 0;
    z-index: 20;
  }

  .promoblock_arrow {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aboutUs {
    position: relative;
    background-color: #000;
    padding: 220px clamp(1rem, 10%, 15%);
    overflow: hidden;
  }

  .aboutUs_heading {
    top: 50px;
    left: 50px;
    font-size: 35px;
    margin-right: 15%;
  }

  .aboutUs_text {
    position: absolute;
    z-index: 2;

    top: 180px;
    left: 50px;
    margin-right: 10%;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .aboutUs {
    position: relative;
    background-color: #000;
    padding: 320px clamp(1rem, 10%, 15%);
    overflow: hidden;
  }

  .aboutUs_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .aboutUs_heading {
    top: 150px;
    left: 30px;
    font-size: 25px;
    margin-right: 0%;
  }

  .aboutUs_text {
    position: absolute;
    z-index: 2;
    font-size: 18px;
    top: 250px;
    left: 30px;
    margin-right: 10%;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    color: #ffffff;
  }
}
