.film {
  padding: 140px clamp(1rem, 10%, 15%);
  background-color: var(--bg-color);
}

.film {
  display: flex;
  gap: 130px;
}

.film_info {
  flex: 1;
}

.film_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 135%;

  color: var(--text-color);
}

.film_section h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 135%;

  color: var(--text-color);
  margin-top: 70px;
}

.film_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  margin-top: 65px;
}

.film_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.film_item strong {
  min-width: 300px;
  width: 300px;
  flex-shrink: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;

  color: #a9a9a9;
}

.film_item span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;

  color: var(--text-color);
}

.film_title_mobile {
  display: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 135%;

  color: var(--black);
}

.video {
  padding: 50px clamp(1rem, 10%, 15%);
  background-color: var(--bg-color);
}

.video_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 135%;

  color: var(--text-color);
}

video {
  width: 100%;
  height: 720px;

  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(0-fe5beb60-f35e-433a-a722-c0a7d7922b4c.png);

  margin-top: 70px;
}

.photos {
  position: relative;
  background-color: var(--white);
  padding: 100px clamp(1rem, 10%, 15%);
  max-width: 2000px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.photos_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 135%;

  color: var(--text-color);
  margin-bottom: 70px;
}

.photos_slider_wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.photos_slider_track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
}

.photos_slider_card {
  flex-shrink: 0;
  width: 600px;
  height: 450px;

  overflow: hidden;
  cursor: pointer;
}

.photos_slider_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.photos_slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.photos-prev-btn {
  position: absolute;
  left: 60px;
  top: 60%;
  transform: translateY(-50%);
}

.photos-next-btn {
  position: absolute;
  right: 60px;
  top: 60%;
  transform: translateY(-50%);
}
.photos-slider-btn img {
  width: 35px;
  height: 35px;
}

.light-icon {
  display: block;
}

.dark-icon {
  display: none;
}

:root.dark-theme .light-icon {
  display: none;
}

:root.dark-theme .dark-icon {
  display: block;
}

.desktop-text {
  display: inline;
}

.mobile-text {
  display: none;
}

.reviews_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 135%;

  color: var(--text-color);
  margin-bottom: 70px;
}

.reviews {
  padding: 100px clamp(1rem, 10%, 15%);
  background-color: var(--bg-color);
}

.review_container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.review_card {
  width: 620px;
  height: 460px;
  padding: 50px 60px 0px 45px;
  background-color: var(--review-bg);

  display: flex;
  flex-direction: column;
}

.review_card h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;

  color: var(--text-color);
}

.ratting {
  display: flex;
  margin-top: 10px;
}

.ratting img {
  width: 30px;
  height: 30px;
  filter: none;
}

:root.dark-theme .star-filled {
  filter: brightness(0) invert(1);
}

:root.dark-theme .star-empty {
  filter: brightness(0) invert(1);
  opacity: 0.3;
}
.review_card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;

  margin-top: 40px;

  color: var(--text-color);
}

@media (min-width: 1900px) {
  .photos {
    position: relative;
    background-color: var(--white);
    padding: 100px clamp(1rem, 10%, 15%);
    max-width: 3000px;
    margin: 0 auto;
    background-color: var(--bg-color);
  }
}

@media (max-width: 1400px) {
  .film {
    display: flex;
    gap: 60px;
  }

  .film_title {
    font-size: 55px;
    line-height: 135%;
  }

  video {
    width: 100%;
    height: 520px;

    margin-top: 70px;
  }
}

@media (max-width: 1200px) {
  .review_card {
    width: 620px;
    height: 560px;
    padding: 50px 60px 0px 45px;
    background-color: #f2f2f2;

    display: flex;
    flex-direction: column;
  }

  .review_card h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;

    color: var(--text-color);
  }

  .ratting img {
    width: 25px;
    height: 25px;
  }

  .review_card p {
    font-size: 18px;
    line-height: 135%;

    margin-top: 40px;

    color: var(--text-color);
  }
}

@media (max-width: 1024px) {
  .film {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .film_title {
    display: none;
  }

  .film_title_mobile {
    display: block;
    font-size: 50px;

    color: var(--text-color);
  }

  .film_item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  video {
    width: 100%;
    height: 320px;

    margin-top: 70px;
  }

  .photos-prev-btn {
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
  }

  .photos-next-btn {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
  }
}

@media (max-width: 870px) {
  .review_container {
    display: flex;
    gap: 25px;
    justify-content: center;

    flex-direction: column;
  }

  .review_card {
    width: 100%;
    height: 460px;
    padding: 50px 60px 0px 45px;
    background-color: var(--review-bg);

    display: flex;
    flex-direction: column;
  }

  .review_card h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;

    color: var(--text-color);
  }

  .ratting {
    display: flex;
    margin-top: 10px;
  }

  .ratting img {
    width: 30px;
    height: 30px;
  }

  .review_card p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;

    margin-top: 40px;

    color: var(--text-color);
  }
}

@media (max-width: 600px) {
  .film_title_mobile {
    font-size: 35px;
    line-height: 135%;

    color: var(--text-color);
  }

  .film_section h2 {
    margin-top: 10px;
  }

  .film_details {
    margin-top: 20px;
  }

  .film {
    padding: 40px clamp(1rem, 10%, 15%);
  }

  video {
    width: 100%;
    height: 180px;

    margin-top: 30px;
  }

  .video_heading {
    font-size: 28px;
  }

  .photos_slider_card {
    flex-shrink: 0;
    width: 230px;
    height: 170px;

    overflow: hidden;
    cursor: pointer;
  }

  .photos {
    position: relative;
    background-color: var(--bg-color);
    padding: 20px 0px 0px 30px;
    max-width: 2000px;
    margin: 0 auto;
  }

  .photos-prev-btn,
  .photos-next-btn {
    top: 35px;
    left: auto;
    transform: translateY(0);
  }

  .photos-next-btn {
    right: 20px;
  }

  .photos-prev-btn {
    right: 90px;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: inline;
    font-size: 28px;
  }

  .photos-slider-btn img {
    width: 25px;
    height: 25px;
  }

  .photos_heading {
    margin-bottom: 35px;
  }

  .reviews_heading {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .review_card {
    width: 100%;
    height: 660px;
    padding: 50px 20px 0px 20px;
    background-color: var(--review-bg);

    display: flex;
    flex-direction: column;
  }

  .ratting img {
    width: 22px;
    height: 22px;
  }
}
